h1{
  color:red;
  position:relative;
  left:100px;
}
body{
  background-image:url("../img/limbo3.jpg");
  
  padding:10px;
  text-align:center;
}

.main {
  position: relative;
  width: 800px;
}
.hangman_image{
  position: relative;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  height: 300px;
  width: 300px;
  /* left: 300px; */
  /* background-color: #FFFFFF; */
  float:left;
}
#letter_slots{
  position: relative;
  /* left:100px; */
  margin: 0px;
  padding: 0px;
  height: 300px;
 /* width: 650px;*/
  /* right: 0px; */
/*  background-color: white; */
  /*float:right; */
}

#alphabet {
  position: relative;
  width: 530px;
  /*left: 350px;*/
  top:100px;
  margin-left: auto;
  margin-right: auto;
}

#alphabet .Letters {
  margin-bottom: 25px;
  background-color: red;
  border-radius:20px;
  text-indent:-1px;
  border:6px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  font-style:normal;
  height:25px;
  line-height:25px;
  width:50px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px -1px 0px #810e05;
}

#alphabet .guessedLetter {
  margin-bottom: 25px;
  background-color: gray;
  border-radius:20px;
  text-indent:-1px;
  border:6px solid gray;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  font-style:normal;
  height:25px;
  line-height:25px;
  width:50px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px -1px 0px #810e05;
  pointer-events: none;
  cursor: default;
}

#alphabet .Letters:hover {
  margin-bottom: 25px;
  background-color: cyan;
  border-radius:20px;
  text-indent:-1px;
  border:6px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  font-style:normal;
  height:25px;
  line-height:25px;
  width:50px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px -1px 0px #810e05;
}
.button{
 float: none;
 text-decoration:none; 
 padding:11px 40px;
 position: relative;
 top:400px;
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:white;
 background-color:red; 
 
 /*left: 170px;*/
}
.field {
  height: 50px;
  width: 50px;
  font-size: 40px;
  margin-top: 110px;
}